
{% extends 'base.html' %}
{% block content %}
<!-- <html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Lizard Collector</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
   -->

  <!-- <header class="navbar-fixed"> -->
    <!-- <li><a href="/about">About</a></li>

<li><a href="/all_lizard">View All My Lizards</a></li> -->

    
<head>
    <title>All Lizards</title>
</head>

    <h1>All Lizards</h1>
    <ul>
        {% for lizard in lizard_data %}
            <li>
                <strong>Name:</strong> {{ lizard.name }}<br>
                <strong>Color:</strong> {{ lizard.color }}<br>
                <strong>Size:</strong> {{ lizard.size }}<br>
                <strong>Description:</strong> {{ lizard.description }}
            </li>
        {% endfor %}
    </ul>

{% endblock %}
